.ArticleCard {
  &-root {
    position: relative;
    cursor: pointer;

    &:hover .ArticleCard-title {
      color: #ff335f;
    }
  }

  &-date {
    margin-bottom: .2rem;
  }

  &-title {
    margin: 0;
  }

  &-link {
    color: inherit;
    display: inline-block;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }
  }
}
