.ArticleCard {
    &-root {
        position: relative;
        text-decoration: none;
        padding: 1em 0;
        flex-direction: column;

        @media (min-width: 46em) {
            flex-direction: column;
        }
    }

    &-date {
        padding-right: 0;
        margin-bottom: 4px;
        flex: 1;
    }

    &-content {
        flex: 4;
        align-self: flex-start;
    }

    &-title {
        margin: 0;
    }

    &-link {
        &:hover {
            text-decoration: underline;
        }
    }

    &-date {
        @media (min-width: 46em) {
            padding-right: 16px;
            margin-bottom: 0;
        }
    }
}
