.Articles {
    &-root {
        margin-bottom: 2em;
    }

    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    // &-item {
    //     &:not(:last-child) {
    //         margin-bottom: 1em;
    //     }
    // }

    &-year {
        border-bottom: 1px solid var(--lighter-gray);
        margin-bottom: 0.5em;
        margin-top: 0;
        font-size: 110%;
        letter-spacing: 0.02em;
        font-weight: 500;

        span {
            display: inline-block;
            border-bottom: 1px solid var(--fg);
            padding-bottom: 0.1em;
            position: relative;
            top: 1px;
        }
    }
}