.Footer {
    &-root {
        display: flex;
        flex-direction: column;
    }

    &-socials {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8px 0;
    }

    &-socialsTitle {
        font-weight: 400;
        text-align: center;
        margin-bottom: 8px;
    }

    &-copyrite {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        margin-top: 16px;
    }
}