.Header-logo {
    display: flex;
    cursor: pointer;
}

.Header {
    &-root {
        max-width: 46em;
        margin: 0 auto;
        padding: 1em;
    }

    &-logo {
        display: flex;
        cursor: pointer;

        svg {
            height: 100%;
            width: 100%;
            width: 3em;
            height: 3em;
            border-radius: 0 15px 0 15px;
        }
    }

    &-theme {
        position: relative;
    }
}
