.Logo {
    &-root {
        display: flex;
        text-decoration: none;
        color: var(--fg);
        font-weight: 900;
    }

    &-text {
        margin: 0;
        line-height: 1;
        display: flex;
        margin-left: 0.5em;
        justify-content: center;
        width: 100px;
        flex-direction: column;
        text-transform: uppercase;

        span {
            &:first-child {
                font-size: 1em;
                font-weight: 700;
            }

            &:last-child {
                font-size: 0.7em;
                letter-spacing: 1px;
                font-weight: 400;
            }
        }

        &[lang="en"] {
            display: none;
        }
    }

    &-root:hover &-text[lang="ru"] {
        display: none;
    }

    &-root:hover &-text[lang="en"] {
        display: flex;
    }
}