<footer class="Footer-root">
    <div class="Footer-row">
        <div class="Footer-col">
            <div class="Footer-socials">
                <span class="Footer-socialsTitle">Узнавайте о выходе новых статей в блоге первыми!</span>
                <a class="Social-link" href="https://t.me/frontend_today" target="_blank">
                    <svg class="Icon-svg Icon-svg--telegram">
                        <use xlink:href="#icon-svg-telegram"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="Footer-row">
        <div class="Footer-col">
            <div class="Footer-copyrite">
                <span>Фронтенд сегодня</span>, 2020
            </div>
        </div>
    </div>
</footer>