<meta property="og:type" content="website">
<meta property="og:title" content="{{ renderData.title or title }}{{ titleSuffix }}">
<meta property="og:site_name" content="{{ preview or site.description }}">
<meta property="og:url" content="{{ site.paths.site }}{{ page.url }}">

{% if hero %}
    <meta property="og:image" content="{{ site.paths.site ~ page.url ~ hero.src }}">
{% else %}
    <meta property="og:image" content="{{ site.paths.social }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ renderData.title or title }}{{ titleSuffix }}">
<meta name="twitter:description" content="{{ preview or site.description }}">
<meta name="twitter:site" content="{{ site.paths.site }}{{ page.url }}">

{% if hero %}
    <meta name="twitter:image" content="{{ site.paths.site ~ page.url ~ hero.src }}">
{% else %}
    <meta name="twitter:image" content="{{ site.paths.social }}">
{% endif %}