.Articles {
  &-root {
    position: relative;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #eee;

    &:last-child {
      border: 0;
    }
  }
}
