.Logo {
  &-root {
    display: flex;
    text-decoration: none;
    align-items: center;

    svg {
        min-width: 5rem;
        min-height: 5rem;
        width: 5rem;
        height: 5rem;
        vertical-align: top;
      }
  }

  &-text {
    font-size: 22px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 500;
    padding-left: .5rem;
    text-transform: uppercase;

    span[lang='en'] {
      display: none;
    }
  }

  &-root:hover &-text span[lang='ru'] {
    display: none;
  }

  &-root:hover &-text span[lang='en'] {
    display: flex;
  }
}
