html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Stem", sans-serif;
    font-size: 100%;
    color: var(--fg);
    background-color: var(--bg);
}

a {
    color: inherit;
    font-size: inherit;
}

:focus {
    outline: 3px dotted #1A237E!important;
}

.App-root {
    min-height: 100%;
    max-width: 46em;
    margin: 0 auto;
    padding: 1em;
}

.App-main {
    margin: 2em 0;
    flex: 1;
}

.App-footer {
    padding-top: 6px;
    border-top: 1px solid var(--lighter-gray);
}

.Header-logo {
    display: flex;
    cursor: pointer;
}

.Header-logo svg {
    height: 100%;
    width: 100%;
    width: 3em;
    height: 3em;
    border-radius: 0 15px 0 15px;
}

.Logo-root {
    display: flex;
    text-decoration: none;
    color: var(--fg);
    font-weight: 900;
}

.Logo-text {
    margin: 0;
    line-height: 1;
    display: flex;
    margin-left: 0.5em;
    justify-content: center;
    width: 100px;
    flex-direction: column;
    text-transform: uppercase;
}

.Logo-text span:first-child {
    font-size: 1em;
    font-weight: 700;
}

.Logo-text span:last-child {
    font-size: .7em;
    letter-spacing: 1px;
    font-weight: 400;
}

.Logo-text[lang="en"] {
    display: none;
}

.Logo-root:hover .Logo-text[lang="ru"] {
    display: none;
}

.Logo-root:hover .Logo-text[lang="en"] {
    display: flex;
}


.Articles-root {
    margin-bottom: 2em;
}

.Articles-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Articles-item:not(:last-child) {
    margin-bottom: 1em;
}

.ArticleCard-root {
    position: relative;
    text-decoration: none;
    padding: 1em 0;
    flex-direction: column;
}

.ArticleCard-date {
    padding-right: 0;
    margin-bottom: 4px;
    flex: 1;
}

.Articles-year {
    border-bottom: 1px solid var(--lighter-gray);
    margin-bottom: 0.5em;
    margin-top: 0;
    font-size: 110%;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.Articles-year span {
    display: inline-block;
    border-bottom: 1px solid var(--fg);
    padding-bottom: 0.1em;
    position: relative;
    top: 1px;
}

.ArticleCard-content {
    flex: 4;
    align-self: flex-start;
}

.ArticleCard-title {
    margin: 0;
}

.ArticleCard-link:hover {
    text-decoration: underline;
}

.ArticleCard-link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: "";
}

.Switch-root {
    outline: 0;
    padding: 0.5em;
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: var(--radius);
}

.Switch-root:hover {
    background: var(--lighter-gray);
}

.Footer-root {
    display: flex;
    flex-direction: column;
}

.Footer-socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 0;
}

.Footer-socialsTitle {
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.Footer-copyrite {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    margin-top: 16px;
}

.Footer-copyrite span {
    font-weight: 500;
}

.Social-link {
    display: flex;
    color: var(--fg);
    padding: 0.5em;
    border-radius: var(--radius);
}

.Icon-svg--telegram {
    color: var(--fg);
}

.Social-link:hover {
    background: var(--lighter-gray);
}

.Article-content {
    font-size: 16px;
    line-height: 26px;
    font-family: "Lora", sans-serif;
    font-weight: normal;
    margin-top: 48px;
    margin-bottom: 32px;
}

.Article-content a {
    color: var(--link_color);
}

.Article-content a:hover {
    text-decoration: none;
}

.Article-content p {
    margin: 1em 0 0 0;
}

.Article-content ul,
.Article-content ol {
    padding: 0;
    margin: 1em 0 2em;
    list-style: none;
}

.Article-content li {
    position: relative;
    margin-top: 0.5em;
}

.Article-content ul > li {
    padding-left: 1.2em;
}

.Article-content ul > li::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
    content: "—";
}

.Article-content code {
    font-family: 'Fira Code', monospace;
    font-size: 0.8em;
    color: var(--inlineCode-text);
    background-color: var(--inlineCode-bg);
    padding: 0.2em 0.4em;
    border-radius: 6px;
    white-space: nowrap;
    line-height: 20px;
}

.Article-content a:visited {
    color: var(--link_visited_color);
}

.Article-time {
    display: inline-block;
    margin-top: 16px;
}

.Article-edit {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 0.9em;
}

.Article-edit a {
    color: var(--fg);
    font-size: 1em;
}

.Article-edit a:hover {
    text-decoration: none;
}

.Article-author {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 0.9em;
}

.Article-author a {
    color: var(--fg);
    font-size: 1em;
}

.Article-author a:hover {
    text-decoration: none;
}

@media (min-width: 1240px) {
    .Article-content {
        font-size: 21px;
        line-height: 32px;
    }
}

@media(min-width: 46em) {
    .ArticleCard-root {
        flex-direction: row;
    }

    .ArticleCard-date {
        padding-right: 16px;
        margin-bottom: 0;
    }
}
