@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem_Hairline.woff2");
    src: url("/fonts/Stem_Hairline.woff2") format("woff2");
    /* url('Stem_Bold.woff') format('woff'), */
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem_Extra_Light.woff2");
    src: url("/fonts/Stem_Extra_Light.woff2") format("woff2");
    /* url('Stem_Bold.woff') format('woff'), */
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem_Light.woff2");
    src: url("/fonts/Stem_Light.woff2") format("woff2");
    /* url('Stem_Bold.woff') format('woff'), */
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem_Regular.woff2");
    src: url("/fonts/Stem_Regular.woff2") format("woff2");
    /* url('Stem_Bold.woff') format('woff'), */
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem_Medium.woff2");
    src: url("/fonts/Stem_Medium.woff2") format("woff2");
    /* url('Stem_Bold.woff') format('woff'), */
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Stem";
    src: url("/fonts/Stem_Bold.woff2");
    src: url("/fonts/Stem_Bold.woff2") format("woff2");
    /* url('Stem_Bold.woff') format('woff'), */
    font-weight: 700;
    font-display: swap;
}
