---
permalink: /api/articles.json
eleventyExcludeFromCollections: true
---
[
    {%- for article in collections.article | reverse -%}
        {% set data = article.data %}
        {
            "title": "{{ data.title }}",
            "url": "{{ site.paths.site ~ article.url }}"
        }{{ '\n' if loop.last else ',' }}
    {%- endfor -%}
]
