<article class="ArticleCard-root Grid-column">
    <time class="ArticleCard-date Caption-size_m" datetime="{{ article.date | isoDate }}">
        {{ article.date | ruDate }}
    </time>
    <h3 class="ArticleCard-title">
        <a class="ArticleCard-link Heading-size_m" href="{{ article.url }}">
            {{ article.data.title }}
        </a>
    </h3>
</article>
