<footer class="Footer-root">
    <div class="Footer-row">
        <div class="Footer-col">
            <div class="Footer-copyrite">
                <p class="Copyrite-root">Фронтенд сегодня, 2021</p>
                <p><span>Автор проекта</span> <a href="https://twitter.com/usmanyunusov">@usmanyunusov</a></p>
            </div>
        </div>
    </div>
</footer>
