<header class="Header-root Grid-row Grid-row--jcsb Grid-row--center">
    <div class="Header-logo">
        <a href="/" class="Logo-root">
            <svg width="425" height="425" viewBox="0 0 425 425" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                <rect width="425" height="425" fill="#FF335F"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M200 100H150V150L100 150V200V250V300H150L150 250H200V200H150L150 150H200V100ZM325 275H275V225H325V175H275V125H225V175V225V275H275V325H325V275Z"
                        fill="white"/>
            </svg>

            <span class="Logo-text">
                <span lang="ru">фронтенд <br/>сегодня</span>
                <span lang="en">frontend <br/>today</span>
            </span>
        </a>
    </div>
</header>
