:root {
    --color-grey-lighter: #b1b3b6;
    --color_yellow: #ffdb01;
    --radius: 8px;
}

.light {
    --fg: #212121;
    --bg: #ffffff;
    --bgHeader: rgba(255, 255, 255, .8);
    --lighter-gray: rgb(245, 245, 245);
    --inlineCode-bg: rgb(255, 243, 224);
    --inlineCode-text: rgb(33, 33, 33);
    --link_color: rgb(52, 32, 163);
    --link_visited_color: rgb(173, 20, 87);
    --color_logo_bg: rgb(52, 32, 163);
    --color_logo_txt: rgb(255, 255, 255);
    --color_footer: rgb(245, 245, 245);
    --color_outline: rgb(26, 35, 126);
}

.dark {
    --bg: rgb(33, 33, 33);
    --fg: rgb(255, 255, 255);
    --bgHeader: rgba(33, 33, 33, 0.8);
    --lighter-gray: rgb(66, 66, 66);
    --inlineCode-bg: rgb(66, 66, 66);
    --inlineCode-text: rgb(255, 255, 255);
    --link_color: rgb(255, 204, 128);
    --link_visited_color: rgb(189, 189, 189);
    --color_logo_bg: rgb(255, 255, 255);
    --color_logo_txt: rgb(52, 32, 163);
    --color_footer: rgb(20, 20, 20);
    --color_outline: rgb(244, 143, 177);
}
