---
title: Фронтенд сегодня
preview: Блог про фронтенд и не только сегодня
layout: base.njk
permalink: index.html
---

<div class="App-root Grid-root Grid-column Grid-container">
    <div class="App-header Grid-row">
        {% include 'Header.njk' %}
    </div>

    <div class="App-main Grid-row">
        <main class="Main-root Grid-column">
            <div class="Main-articles">
                <div class="Articles-root Grid-column">
                    <ul class="Articles-list Grid-column">
                        {%- for article in collections.article | reverse -%}
                            <li class="Articles-item">
                                {% include 'ArticleCard.njk' %}
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <div class="App-footer Grid-row">
        {% include 'Footer.njk' %}
    </div>
</div>
